pip>=25.2
setuptools>=70.0
wheel
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
distro
easyocr
eval_type_backport
exceptiongroup
executing
ExifRead
filelock
Flask
frozenlist
fsspec
genai
generativeai
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
imageio
importlib_metadata
importlib_resources
ipython
itsdangerous
jedi
Jinja2
jiter
jsonschema
jsonschema-specifications
lazy_loader
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
multidict
narwhals
networkx
ninja
numpy>=1.24,<2.0
openai
opencv-python
opencv-python-headless
packaging
pandas
parso
pickleshare
pillow
pkgutil_resolve_name
prompt_toolkit
propcache
proto-plus
protobuf
pure_eval
pyarrow
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
pydeck
Pygments
pytesseract
python-bidi
python-dateutil
pytz
PyWavelets
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
scikit-image
scipy
shapely
shellingham
six
smmap
sniffio
stack-data
streamlit
sympy
tabulate
tenacity
tesseract
tifffile
tiktoken==0.7.0
together
toml
torch
torchvision
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
yarl
zipp


